
:root {
  color: rgb(221, 131, 248);
  font-family: 'Roboto';
  text-align: center;
}

body {
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
  padding: 80px 50px 10px 50px;
}

.hidden {
  display: none;
}

header,
main {
  min-width: 300px;
  justify-items: center;
}

header h1 {
  font-size: 2.5rem;
  line-height: 2.9rem;
  color:rgb(230, 153, 253);
}

header .record {
  color: rgb(129, 129, 129);
  margin-top: 10px;
}

main .score {
  color: rgb(221, 131, 248) ;
  position: relative;
  font-size: 15rem;
  width: min-content;
  text-align: center;
  text-shadow: 0px 0px 40px rgb(195, 0, 255);
}

main .score .text {
  font-size: 2rem;
  position: absolute;
  bottom: 90px;
  right: -70px;
}

main .inputs {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  gap: 5px;
}

main .inputs .increase{
  font-size: 2.7rem;
  flex-grow: 2;
  height:100px;
  margin-bottom: 50px;
}

main .disable {
  pointer-events: none;
  color: grey;
  border-color: grey;
  box-shadow: none;
}

main button {
  color: rgb(227, 161, 247);
  font-weight: bold;
  /* width: 100%; */
  /* color:rgb(189, 189, 189); */
  background-color: rgb(29, 29, 29);
  border: 1px solid rgb(195, 0, 255);;
  box-shadow: 0px 0px 50px rgba(195, 0, 255, 0.322);
  flex-grow: 1;
}

main button.reset {
  padding: 6px 40px;
  color: rgb(204, 2, 2);
    border: 1px solid rgb(255, 0, 0);;
  box-shadow: 0px 0px 50px rgba(255, 0, 0, 0.322);
}



/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}